body {
    margin: 1px 1px 1px 15px;
    padding: 1px;
    font-family: Tahoma;
    text-align: left;
}

.nav-container {
    background:#f6f6f6;
    font-family: Tahoma;
    font-size: 12px;
    height: 32px;
    text-transform: uppercase;
}

.flash-container {
    background: center;
    height: auto;
    font: bold;
    font-size: medium;
    padding: initial;
    margin: 1px 1px 1px 15px;
}

a:hover {
    color: #2387D9;
}

.button {
    width : 55px;
    padding : 3px;    
    font-size: 16px;
    margin : 5px;
    padding : 5px;
    border: 1px solid lightgray;
}
.button:hover {
    background-color: 157dd3;
    color: white;
    cursor:pointer;
}

.posttable { 
    width : 100%;
    margin: 0px;
}

.posttitle {
    text-align: center;
    font-weight: bold;
    font-style: normal;
    padding: 10px;
}

.postmessage {
    text-align: left;
    font-weight: normal;
    font-style: normal;
    padding: 8px;
}

.posttimestamp {
    text-align: left;
    font-weight: normal;
    font-style:italic;
    padding: 4px;
}

.useritem {
    text-align: center;
    padding: 3px;
    margin: 4px 3px 4px 3px;
    color: crimson;
    text-transform: uppercase;
}

.likebtn {
    margin: 0 auto;
    height: 40px;
    width: 50px;
    border: 0px;
    vertical-align: middle;
    background-image: url("..//img//like.png");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.likecount {
    text-align: center;
    font-weight: bold;
}

.likebtn:hover {
    background-image: url("..//img//like_hover.png");
    cursor: pointer;
}

.formtitle {
    width: 555px;
    padding: 3px;
    font-size: 16px;
    margin: 5px;
}

.formbody {
    width: 555px;
    padding: 3px;
    font-size: 16px;
    margin: 5px;
}

.formselect {
    width: 555px;
    padding: 3px;
    font-size: 16px;
    margin: 5px;
}

.postlist {
    display: flex;
    flex-wrap: wrap;
}

.post-box {
    display: flex;
    vertical-align: middle;
    background-color: DodgerBlue;
    width: 32%;
    margin: auto;
    padding: inherit;
}

.tagitem {
    text-align: center;
    padding: 3px;
    margin: 2px;
    padding: 5px;
    border: 1px solid lightgray;
    background-color: DodgerBlue;
}

@media (max-width: 1200px) {
    .post-box {
        width: 48%;
    }
}

@media (max-width: 800px) {
    .post-box {
        width: 99%;
    }
}

.forminput {
    width:auto;
    padding: 3px;
    margin: 2px;
    padding: 5px;
}