{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <!-- TODO: (milestone 3) Include the template for "login form" here...  -->
      {% if form %}
            <form action="" method="POST">
        
                {{form.hidden_tag() }}
                <p> {{form.username.label}}</p>
                <p> {{form.username(class = 'textinput')}}</p>

                {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}

                <p> {{form.password.label}}</p>
                <p> {{form.password(class = 'textinput')}}</p>

                {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}

                <p> {{form.remember_me()}} {{form.remember_me.label}}</p>
            
                <p>{{ form.submit(class = 'button')}} </p>
            </form>
        {% endif %}
    <!-- TODO: (milestone 3) Add the URL for user register route. --> 
    <p>New User? <a href={{url_for('auth.register')}}>Click to Register!</a></p>
{% endblock %}

