{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
        {% if form %}
            <form action="" method="POST">
        
                {{form.hidden_tag() }}
                <p> {{form.username.label}}</p>
                <p> {{form.username(class = 'textinput')}}</p>

                {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}


                {{form.hidden_tag() }}
                <p> {{form.email.label}}</p>
                <p> {{form.email(class = 'textinput')}}</p>

                {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}


                {{form.hidden_tag() }}
                <p> {{form.password.label}}</p>
                <p> {{form.password(class = 'textinput')}}</p>

                {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}


                {{form.hidden_tag() }}
                <p> {{form.password2.label}}</p>
                <p> {{form.password2(class = 'textinput')}}</p>

                {% for error in form.username.errors %}
                <span style="color: red;">[{{error}}]</span>
                {% endfor %}
            
                <p>{{ form.submit(class = 'button')}} </p>
            </form>
        {% endif %}
    <!-- TODO: (milestone 3) Include the template for "user registration" form here..  -->
    
    
{% endblock %}